* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    list-style: none;
}
.jkaa {
  width: 80px;
  text-align:justify;
  position: absolute;
  top: 2%;
  left: 90%;
  background-size:contain;
  background-color: rgb(0, 0, 0);

}
.jkaa ul li {
    float: left;
    position: relative;
    background-color:  rgba(73, 226, 49, 0);
    color: rgb(2, 2, 2);
    border-radius: 20px;
    
  }

  
.jkaa ul li a {
    width: 150px;
    display: block;
    padding: 20px;
    color: rgb(252, 251, 251);
    text-decoration: none;
    text-align:right;
    
    
    
  }
  
.jkaa ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: -30%;
    
  }
  

    
.jkaa ul li:hover > ul {
    text-align: start   ;
    background-color: beige;
    position: absolute;
    display: inherit;
    height: 90vh;
    
    
    
       
  }

.jkaa{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.jkaa_menu.active a, .active,  a:hover {
    color: black;
    text-decoration: underline;
    transform: translatex(-20px);
        -webkit-transform: translatex(-20px);
        -moz-transform: translatex(-20px);
     
  }


            

                            
header{
    background-color: rgba(0, 0, 0, 0.401);
    display: flex;
    gap: 10 px;
    grid-gap: 30px;
}

.logo{
    width: 90px;
}
.jk{
    display: flex;
    align-items: center;

}

.jka {
    display: flex;
    list-style: none;
    gap: 100px;
    grid-gap: 100px ;
    align-items: center;

}


.jka_menu a {
    color: rgb(255, 244, 244);
    text-decoration: none;

}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color:rgb(0, 0, 0);

}

.cajitas {
    display:flex;

    height: 400px;
    width: 100%;
    background: rgb(255, 255, 255);
    
}
.cajita1 {
    background-size: 200%;
    background-image: url(templace/jordan.jpg);
    height: 100%;
    width: 20%;
    background-position: center;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function:linear   ;
}

.cajita1:hover {
    flex-direction: column;
    width: 25%;
    background-color: aqua;
}
.cajita2 {
    background-size: 150%;
    background-image: url(./templace/adidas.jpg);
    height: 100%;
    width: 20%;
    background-position: center;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function:linear   ;
}

.cajita2:hover {
    flex-direction: column;
    width: 25%;
    background-color: aqua;
}
.cajita3 {
    background-size: 100%;
    background-image: url(./templace/vans.jpg);
    height: 100%;
    width: 20%;
    background-position: center;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function:linear   ;
}

.cajita3:hover {
    flex-direction: column;
    width: 25%;
    background-color: aqua;
}
.cajita4 {
    background-size: 100%;
    background-image: url(./templace/ck.jpg);
    height: 100%;
    width: 20%;
    background-position: center;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function:linear   ;
}

.cajita4:hover {
    flex-direction: column;
    width: 25%;
    background-color: aqua;
}
.cajita5 {
    background-size: 100%;
    background-image: url(./templace/rip.jpg);
    height: 100%;
    width: 20%;
    background-position: center;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function:linear   ;
}

.cajita5:hover {
    flex-direction: column;
    width: 25%;
    background-color: aqua;
}
.color{
    background-color: white;
}
.tarjeta{
    padding: 70px;
    color: rgb(255, 255, 255);
    display:inline-flex;
    gap: 30px; 
    text-align: center;
    
    

}  
.texto-encima{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
}
.tar{
    
    background-color: rgba(213, 213, 213, 0.445);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    

    
}

.tar_ima{
    max-width: 100%;
    flex: 1; 

}
.info{
   padding: 0px 20px 20px 20px; 
}
footer {
    background-color:rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(47,39,45,1) 0%, rgba(0,0,0,1) 0%, rgba(102,102,102,1) 50%, rgba(107,107,107,1) 50%, rgba(255,255,255,1) 50%, rgba(113,113,113,1) 50%, rgba(97,97,97,1) 51%, rgba(0,0,0,1) 100%, rgba(255,255,255,1) 100%);
    color: white;
    padding: 20px;
    text-align: center;}